*{
  margin:0;
padding: 0;
box-sizing: border-box;
  
}
body{
   background-color: pink;
   border:solid 1px;
   display: flex;
   justify-content: space-evenly
    }
    h1{
      height: 20vh;     
      margin-top: 30px;
      text-align: center;
      font-size: 3rem;  
    }

.contador{ 
  height: 70vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-self: center;
justify-content: space-evenly;
border: solid;
}
.contar{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: center;
justify-content: space-evenly;

}
button{
  height: 30vh;
  width: 60vw;
  font-size: 5rem; 
  background-color: moccasin ;
 border:solid 1px;
}

h2{
  height: 20vh;
  width: 60vw;
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;  
 

}